[package]
name = "sttt"
version = "0.1.2"
authors = ["Karel Peeters <karel.peeters.leuven@gmail.com>"]
description = "An implemention of super tic tac toe, including bots that play it."
license-file = "NONE.md"
edition = "2018"
default-run = "main"

[dependencies]
rand = { version = "0.7.3", features = ["small_rng"] }
ordered-float = "2.0.0"
regex = "1.1.6"
itertools = "0.9.0"
rayon = "1.3.1"
derive_more = "0.99.9"
ndarray-npy = "0.5.0"
ndarray = "0.13.1"
ndarray-rand = "0.11.0"
rand_distr = "0.3.0"
mnist = "0.4.1"

[dev-dependencies]
criterion = "0.3.3"

#[[bench]]
#name = "mcts"
#harness = false

[profile.release]
lto = true
debug = true
